@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5fa;
  width: 100%;
  overflow: hidden;
}
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #2b3a60;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.login h2 {
  font-size: 2em;
  color: #2b3a60;
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #080808;
  border-radius: 40px;
  font-size: 1.2em;
  color: #070707;
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #2b3a60;
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(8, 8, 8, 0.75);
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links strong {
  color: red;
  
}
.login .links a
{
  color: rgb(12, 12, 12);
  text-decoration: none;
}
/* Bordure par défaut lorsque le champ est vide */
input:placeholder-shown {
  border: 1px solid #ced4da; /* Bordure grise claire */
  color: rgb(63, 60, 60);
  background-color: #080808; /* Optionnel : gris clair pour le fond */
}

/* Bordure plus foncée lorsqu'il est en focus (l'utilisateur clique dedans) */
input:focus {
  border: 2px solid #ff0000; /* Bordure bleue pour le focus */
  background-color: rgb(34, 1, 1); /* Fond blanc pour le focus */
  outline: none; /* Retirer l'effet de contour par défaut */
}

/* Optionnel : Bordure plus foncée lorsque le champ est rempli */
input:not(:placeholder-shown) {
  border: 2px solid #007bff; /* Bordure bleue quand le champ est rempli */
  color: black; /* Couleur noire une fois que l'utilisateur tape */
}
